

<header id="header" class="header">
  <div class="header-page bg-primary">
    <a class="toggle-offcanvas bg-primary" (click)="toggleNav()"><span></span></a>
    
    <h1 class="header-page-siteTitle">
      <a routerLink="/login">Biolinkdepot.org</a>
    </h1>
    
    <div *ngIf="auth2.isLoggedIn" class="header-page-authStatus">
      <a  (click)="auth2.login()">Logggg In</a>
      <span *ngIf="!auth2.isLoggedIn">      
        <a (click)="onLogoutClick()">Log Out</a>
       </span>
    </div>
  </div>

  <nav id="nav" class="nav" role="navigation">
    <ul class="nav-list">
        <li>
            <a
              *ngIf="auth2.isLoggedIn"
              routerLink="/admin" 
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Admin Events</a>
          </li>
          <li>
            <a
             
              routerLink="/donadmin"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }">Admin donations</a>
          </li>

      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Events</a>
      </li>
      <li>
        <a
          *ngIf="auth2.isLoggedIn"
          routerLink="/my-rsvps"
          routerLinkActive="active">My RSVPs</a>
      </li>
      <li>
        <a
          *ngIf="auth2.isLoggedIn"
          routerLink="/donations"
          routerLinkActive="active">Inventory</a>
      </li>

      <li>
        <a
          *ngIf="auth2.isLoggedIn && auth2.isAdmin"
          routerLink="/admin/event/new"
          routerLinkActive="active">Create Event</a>
      </li>
      <li>
          <a
            *ngIf="auth2.isLoggedIn && auth2.isAdmin"
            routerLink="/admin/donations/new"
            routerLinkActive="active">Create Donations</a>
        </li>
    </ul>
  </nav>
</header>
