<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a member? Please <a routerLink="/login">log in</a> instead.</p>
      <form (submit)="register()">
        <div class="form-group">
          <label for="name">Full name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
                  <!-- View Public -->
  <div class="form-group">
    <label class="label-inline-group">Would you like to receive our Newsletter?</label>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          id="getNewsletter-yes"
          type="radio"
          class="form-check-input"
          [value]="true"         
          formControlName="getNewsletter"> Yes
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          id="getNewsletter-no"
          type="radio"
          class="form-check-input"
          [value]="false"
          formControlName="getNewsletter"> No
      </label>
    </div>
    <div
      *ngIf="formErrors.getNewsletter"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.getNewsletter">
    </div>
  </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </div>
  </div>

</div>