<div class="container">

  <div class="row">
    <div class="col-md-6">
      <h1>Register</h1>
      <p class="lead">Already a member? Please <a routerLink="/login">log in</a> instead.</p>
      <form (submit)="register()">
        <div class="form-group">
          <label for="name">Full Name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" [(ngModel)]="credentials.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="credentials.password">
        </div>
                  <!-- View Public -->
  <div class="form-group">
    <label class="label-inline-group">Would you like to receive our Newsletter?</label>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          id="getnewsletter-yes"
          type="radio"
          class="form-check-input"
          [value]="true"         
          formControlName="getnewsletter"> Yes
      </label>
    </div>   
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          id="getnewsletter-no"
          type="radio"
          class="form-check-input"
          [value]="false"
          formControlName="getnewsletter"> No
      </label>
    </div>
    <div
      *ngIf="formErrors.getnewsletter"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.getnewsletter">
    </div>
  </div>



  <div class="form-group">
      <label class="label-inline-group">Request Admin Privilleges?</label>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input
            id="isadmin-yes"
            type="radio"
            class="form-check-input"
            [value]="true"         
            formControlName="isadmin"> Yes
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          <input
            id="isadmin-no"
            type="radio"
            class="form-check-input"
            [value]="false"
            formControlName="isadmin"> No
        </label>
      </div>
      <div
        *ngIf="formErrors.isadmin"
        class="small text-danger formErrors"
        [innerHTML]="formErrors.isadmin">
      </div>
    </div>
        <button type="submit" class="btn btn-default">Register!</button>
      </form>
    </div>
  </div>

</div>