<form [formGroup]="donationsForm" (ngSubmit)="onSubmit()">
  <!-- Title -->
  <div class="form-group">
    <label for="title">Item Name</label>
    <input
      id="itemName"
      type="text"
      class="form-control"
      formControlName="itemName"
      [maxlength]="df.titleMax">
    <div
      *ngIf="formErrors.itemName"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.itemName">
    </div>
  </div>

  <!-- Location -->
  <div class="form-group">
    <label for="donatedBy">Donated By</label>
    <input
      id="donatedBy"
      type="text"
      class="form-control"
      formControlName="donatedBy"
      [maxlength]="df.locMax">
    <div
      *ngIf="formErrors.datesGroup.donatedBy"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.datesGroup.donatedBy">
    </div>
  </div>

  <div
    formGroupName="datesGroup"
    >
    <div class="row">
      <!-- Start date -->
      <div class="form-group col-sm-12 col-md-6">
        <label for="donatedDatetime">Donated Date</label>
        <input
          id="donatedDatetime"
          type="text"
          class="form-control"
          formControlName="donatedDatetime"
          >
       </div>
    </div>

  </div>

  <!-- View Public -->
  <div class="form-group">
    <label class="label-inline-group">List event publicly?</label>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          id="viewPublic-yes"
          type="radio"
          class="form-check-input"
          [value]="true"
          formControlName="viewPublic"> Yes
      </label>
    </div>
    <div class="form-check form-check-inline">
      <label class="form-check-label">
        <input
          id="viewPublic-no"
          type="radio"
          class="form-check-input"
          [value]="false"
          formControlName="viewPublic"> No
      </label>
    </div>
    <div
      *ngIf="formErrors.viewPublic"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.viewPublic">
    </div>
  </div>

  <!-- Description -->
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea
      id="description"
      class="form-control"
      rows="3"
      formControlName="description"
      [maxlength]="df.descMax"></textarea>
    <div
      *ngIf="formErrors.description"
      class="small text-danger formErrors"
      [innerHTML]="formErrors.description">
    </div>
  </div>

  <!-- Submit -->
  <!-- Submit -->
  <div class="form-group">
    <button
      type="submit"
      class="btn btn-primary"
      [innerText]="submitBtnText"></button>
      <!-- https://github.com/angular/angular/issues/11271#issuecomment-289806196 -->
    <app-submitting *ngIf="submitting"></app-submitting>
    <a
      *ngIf="!submitting"
      class="btn btn-link"
      (click)="resetForm()"
      tabindex="0">Reset Form</a>

    <!-- API submission error -->
    <p *ngIf="error" class="mt-3 alert alert-danger">
      <strong>Error:</strong> There was a problem submitting the item. Please try again.
    </p>
  </div>
</form>
